.Home {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.mainWrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
}

.sideBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: rgb(56, 43, 69);
  width: 100%;
  height: 100vh;
}

.miniBar1,
.miniBar2,
.miniBar3 {
  background-color: rgba(49, 38, 59, 0.926);
  height: 0.7rem;
  border-radius: 1rem;
}

.miniBar1 {
  width: 8rem;
}
.miniBar2 {
  width: 2.5rem;
}
.miniBar3 {
  width: 6rem;
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  top: 300px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 400;
  color: black;
}

.subTitle {
  font-weight: 400;
  font-size: 16px;
  margin-top: -5px;
  margin-bottom: 10px;
  color: black;
}
.handEmoji {
  display: inline-block;
  transition: transform 0.3s ease-out;
}

.textWrapper:hover .handEmoji {
  transform: rotate(15deg) translateY(-15px);
}
.goToFinderButton {
  background-color: rgb(56, 43, 69);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
}

.goToFinderButton:hover {
  width: 8rem;
  border-radius: 40px;
  cursor: pointer;
}

.copyright {
  align-self: flex-end;
  justify-self: center;
  position: fixed;
  bottom: 0px;
}
.copyrightText {
  color: #8c8c8c;
  font-size: 14px;
}

a {
  color: white;
}

/* Telas pequenas (smartphones) */
@media (max-width: 576px) {
  .Home {
    grid-template-columns: 100%;
  }

  .sideBar {
    display: none;
  }
  .goToFinderButton {
    width: 4rem;
    height: 4rem;
  }
}

/* Telas médias (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .Home {
    grid-template-columns: 100%;
  }

  .sideBar {
    display: none;
  }

  .goToFinderButton {
    width: 4rem;
    height: 4rem;
  }
}

/* Telas grandes (notebooks/desktops pequenos) */
@media (min-width: 769px) and (max-width: 992px) {
  .miniBar1 {
    width: 6rem;
  }
  .miniBar2 {
    width: 2rem;
  }
  .miniBar3 {
    width: 4rem;
  }
  .goToFinderButton {
    width: 5rem;
    height: 5rem;
  }
}

/* Telas extra grandes (desktops grandes) */
@media (min-width: 993px) {
}
